{% extends 'blog/base.html' %}


{% block title %} SMOON的个人博客 {% endblock title %}


{% block header %}
<header id="gtco-header" class="gtco-cover" role="banner" data-stellar-background-ratio="0.5" style="background-image: url('/static/blog/images/default/{{ category }}.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-left">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                        <span class="date-post">Category</span>
                        <h1 class="mb30"><a href="{% url 'blog:category' category %}">{{ category|capfirst }}</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}


{% block main %}
<div id="gtco-main">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-12">
                <ul id="gtco-post-list">
                    {% for blog in blogList %}
                    <li class="entry {{ blog.style }} animate-box post-entry" data-animate-effect="fadeIn">
                        <a href="{% url 'blog:blog' blog.id %}">
                            <div class="entry-img" style="background-image: url({{ blog.picture }});"></div>
                            <div class="entry-desc">
                                <div class="entry-desc-author">
                                    <object>
                                        <a href="{% url 'blog:profile' %}?id={{ blog.authorId }}">
                                            <img class="img-circle" src="{{ blog.authorAvatar }}" height="45" width="45">
                                            <span style="color: black;">&nbsp;{{ blog.authorName }}</span>
                                        </a>
                                    </object>
                                    <span style="color: #aeaeae"> · {{ blog.pub_date }}</span>
                                </div>
                                <h3>{{ blog.title }}</h3>
                                <p>{{ blog.summary }}</p>
                            </div>
                        </a>
                        <div class="post-meta">
                            {% for topic in blog.topicList %}
                            <span class="label label-{{ topic.0 }}">{{ topic.1 }}</span>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="{% url 'blog:index' %}?page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for num in page.paginator.page_range %}
                            {% if num == page.number %}
                                <li class="active"><a href="{% url 'blog:index' %}?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="{% url 'blog:index' %}?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page.has_next %}
                            <li>
                                <a href="{% url 'blog:index' %}?page={{ page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
