{% extends 'blog/base.html' %}
{% load static %}
{% block title %}注册{% endblock title %}

{% block beforehead %}
    <script>
        $(function () {
            var vm = new Vue({
                delimiters: ['${', '}'],
                el: '#vm',
                data: {
                    username: '',
                    password: '',
                    password2: '',
                    email: '',
                    image: '',
                    info: ''
                },
                methods: {
                    getFile: function (event){
                      this.image = event.target.files[0];
                    },
                    submit: function (event) {
                        event.preventDefault();
                        if (this.password !== this.password2) {
                            this.info = 'Passwords need match!';
                            return ;
                        }
                        var formData = new FormData();
                        formData.append('username', this.username);
                        formData.append('password', this.password);
                        formData.append('email', this.email);
                        formData.append('image', this.image);
                        axios({
                            method: 'post',
                            url: '/api/users/',
                            data: formData,
                            headers: {
                                'Content-Type': 'multipart/form-data',
                                'X-CSRFToken': Cookies.get('csrftoken')
                            }
                        }).then(function (response) {
                            if (response.data){
                                vm.info = response.data.username[0];
                            } else{
                                location.assign('/blog/');
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                }
            })
        })
    </script>
{% endblock beforehead %}

{% block content %}
    <br>
    <br>
    <p style="font-size: 50px"> 欢迎注册！ </p>
    <form id="vm" @submit="submit($event)">
        <p>${ info }</p>
        <label for="id_username">Username:</label>
        <input v-model='username' type="text" id="id_username" maxlength="150" required><br>

        <label for="id_password">Password:</label>
        <input v-model='password' type="password" id="id_password" maxlength="128" required><br>

        <label for="id_password2">Password:</label>
        <input v-model='password2' type="password" id="id_password2" maxlength="128" required><br>

        <label for="id_email">Email:</label>
        <input v-model='email' type="email" id="id_email" maxlength="254" required><br>

        <label for="id_avatar">Avatar:</label>
        <input @change='getFile($event)' type="file" id="id_avatar" accept="image/jpeg,image/gif,image/png"><br>

        <input type="submit" value="Register">
    </form>
{% endblock content %}